[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygobject = "*"
asus-charge-control = "*"

[dev-packages]
bandit = "*"
black = "*"
setuptools = "*"
pep517 = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
